.lineas-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background: #C5D4EB;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
}

h1 {
    text-align: center;
}

.lineas-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.linea-card {
    background-color: #F9F9F9;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.notification-bubble {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
}

.linea-card {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.linea-card:hover {
    transform: scale(1.05); /* Efecto de hover */
}

.linea-card.red {
    background-color: red; /* Color rojo para 1 o más solicitudes */
}

.linea-card.green {
    background-color: limegreen; /* Color verde para 0 solicitudes */
}

.notification-bubble {
    /* Puedes ajustar el estilo de la burbuja de notificación si lo deseas */
    display: inline-block;
    margin-left: 10px;
}

.urgent-indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.7em;
}







/*
ESTILOS PARA MODO NEON

.lineas-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background: #000000;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: white;
}

.notification-bubble {
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
}

.linea-card.red {
    background-color: transparent;
    color: red;
    border: 2px solid red;
    box-shadow: 0 0 70px red;
    animation: neonBlink 1.5s infinite alternate;
}

@keyframes neonBlink {
    0%, 100% {
        box-shadow: 0 0 70px red;
        opacity: 1;
    }
    40%, 60% {
        box-shadow: 0 0 20px red;
        opacity: 0.6;
    }
    50% {
        box-shadow: none;
        opacity: 0.3;
    }
}

.linea-card.green {
    background-color: transparent;
    color: limegreen;
    border: 2px solid limegreen;
    box-shadow: 0 0 70px limegreen;
}

*/