.sel-titl {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}

.sel-titl select {
    width: 10%;
    position: absolute;
    left: 1rem;
}

.sel-titl h1 {
    margin: 0;
    width: 100%;
    text-align: center;
}