.solicitudes-container {
    padding: 20px;
    max-width: 100%;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .button-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .button-group button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007BFF; /* Color de fondo del botón */
    color: white;
    transition: background-color 0.3s;
  }
  
  .button-group button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
  }
  
  .button-group button:disabled {
    background-color: #ccc; /* Color de fondo para botones deshabilitados */
    cursor: not-allowed;
  }

  .solicitudes-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  .filter-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .filter-container select,
  .filter-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .solicitudes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .solicitudes-table th,
  .solicitudes-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .solicitudes-table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .solicitudes-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .solicitudes-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .solicitudes-table td {
    vertical-align: middle;
  }
  
  td button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
  }
  
  td button:hover {
    background-color: #0056b3;
  }
  
  td button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }